Debug/
Release/
build/
.vs/
bin.*/
*.bak
*.vcxproj.user

data/grid/
data/params_selection/
data/RCO_generation/
data/SCO_generation/
/data/src/daphnia/
/data/src/frames/

/data/src/video/1.avi
/data/src/video/2.avi
/data/src/video/3.avi
/data/src/video/4.avi
/data/src/video/5.avi
/data/src/video/6.avi
/data/src/video/7.avi
